@model SecFromScratch.Movie
@{
    Layout=null;
}
<h1>Add a Movie:</h1>

<form asp-controller="Home" asp-action="CreateMovie" method="POST">
    <div>
        <label asp-for="name"></label>
        <input asp-for="name" />
    </div>
    <div>
        <label asp-for="director"></label>
        <input asp-for="director" />
    </div>
    <div>
        <label asp-for="yearReleased"></label>
        <input asp-for="yearReleased" />
    </div>
    <div>
        <input type="submit" value="CreateMovie" />
    </div>
</form>